.forecast {
  display: flex;
  flex-direction: column;
}

.forecast-city-name {
  width: fit-content;
  font-size: 35px;
  font-weight: 700;
  margin-left: 30px;
  padding: 20px;
}

/* Forecast headers */

.forecast-header {
  width: fit-content;
  padding: 10px 20px;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgba(166, 207, 227, 0.358);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid black;
}

/* Current status section */

.forecast-current {
  background-color: transparent;
  margin-left: 30px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  width: fit-content;
}

.cimg {
  width: fit-content;
  display: flex;
  align-items: center;
}

.cweather-all-info {
  display: flex;
  gap: 20px;
}

.cweather-all-info span {
  font-weight: 600;
}

.forecast-current label {
  color: red;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 30px;
}

#ch {
  display: none;
}

#ch:checked ~ .cweather-see-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#ch:checked ~ #see-more {
  display: none;
}

.cweather-see-more {
  display: none;
  margin-top: 20px;
}

/* 24 hours section */

.forecast24 {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 30px;
}

.element24 {
  min-width: 150px;
  padding: 20px 30px;
  background-color: rgba(166, 207, 227, 0.358);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 4 days section */

.forecast4 {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 20px;
}

.forecast4-days {
  display: flex;
}

.forecast4-days button {
  font-size: 24px;
  background-color: rgba(166, 207, 227, 0.358);
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  transition: all 0.15s;
}

.forecast4-days button:hover {
  background-color: rgba(166, 207, 227, 0.595);
}

.element4 {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}

/* selected button */
.selected {
  background-color: rgb(166, 207, 227) !important;
}

.selected:hover {
  background-color: rgb(142, 195, 221) !important;
}

/* Forecast bellow buttons */

.element4-content {
  padding: 20px 30px;
  background-color: rgba(166, 207, 227, 0.358);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element4-content div {
  font-size: 20px;

}

/* General styles */

.element-hours {
  font-weight: 600;
  font-size: 20px;
}

.element-main {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 25px !important;
}

.element-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.icon {
  margin-right: 5px;
}

@media screen and (max-width: 550px) {
  .forecast4-days {
    flex-direction: column;
  }

  .forecast-header {
    font-size: 23px;
  }

  .element24 {
    padding: 10px 0;
  }

  .element-info div {
    font-size: 16px;
  }

  .cweather-all-info {
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
  }
}