@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  background-color: rgb(220, 240, 255);
  min-height: 100vh;
}

/* Loading */

.loading {
  min-height: 100vh;
}

/* Error page */

.error {
  min-height: 100vh;
}

.error h1 {
  padding: 30px 0;
}

.error div {
  font-size: 20px;
}

/* Map section */

.displayed-map {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}

.leaflet-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.509);
  height: 500px;
  width: 1000px;
  border: 2px solid rgba(0, 0, 0, 0.283);
}

.legend div {
  padding: 3px;
}